form select{
    color:black;
    width:100%;
    height: 40px;
    margin: 10px;
    border-radius: 25px;
    font-weight: bold;
}

label{
    display: block;
    margin-bottom: 10px;
    /* font-size: 16px; */
    font-weight: bolder;
}

input{
    color:black;
    width:380px;
    height: 40px;
    margin: 10px;
    border-radius: 25px;
    font-weight: bold;
}

.formButton{
    margin-top: 20px;
    color: black;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    padding: 5px;
}