#records {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border-radius: 25px;
    margin-left: 150px;
}
#records td, #records th {
    border: 1px solid #ddd;
    padding: 8px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    height: 200vh;
    background: linear-gradient(to right top, #264d21, #3c5c24, #556a26, #6f7929, #8c862e);
    background-size: cover;
    background-attachment: fixed; /* Optional: Keeps background fixed during scroll */
}