body {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 250vh;
  background: linear-gradient(to right top, #264d21, #3c5c24, #556a26, #6f7929, #8c862e);
  background-size: cover;
  background-attachment: fixed; /* Optional: Keeps background fixed during scroll */
}
.suggestions-container {
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: rgba(156, 153, 153, 0.3);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .suggestions-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .loading-text, .error-text {
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
  }
  
  .suggestions-content {
    white-space: pre-wrap; /* Preserves the new lines */
    line-height: 1.6;
    font-size: 1.2rem;
    text-indent: -20px; /* Pulls the first line to the left */
    padding-left: 20px; /* Ensures all lines start from the same point */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .suggestion-line {
    margin-bottom: 5px;
    display: block;
  }

  p{
    margin-bottom: 0px;
  }
  