body {
  background-color: #ABDEE9;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bolder;
  text-shadow: 0.5px 0.5px 0.5px black;
  margin: 0;
  padding: 0;
  height: 130vh;
  background-size: cover;
  background-attachment: fixed;
}

.background-overlay {
position: absolute;
width: 100%;
height: 100%;
background-color: #ffffff;
opacity: 0.3;
background-image:  linear-gradient(#adafb9 0.6000000000000001px, transparent 0.6000000000000001px), linear-gradient(to right, #adafb9 0.6000000000000001px, #ffffff 0.6000000000000001px);
background-size: 12px 12px;
opacity: 0.1;
height: 130vh;
background-attachment: fixed;
z-index: 0; /* Lower z-index to place the background behind the content */
}

.content {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 85vh;
width: 100vw;
position: relative;
z-index: 2; /* Higher z-index to make sure content is above the overlay */
}

.image-part {
height: 625px;
width: 625px;
margin-right: 2rem;
}

.image-part img {
width: 100%;
height: 100%;
object-fit: contain;
}

.right-part {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.right-part p {
font-size: 1.8rem;
text-shadow: 0.5px 0.5px 0.5px black;
margin-bottom: 0px;
}

.btn {
width: 75px;
height: 35px;
border-radius: 25px;
margin-right: 5px;
background-color: white;
}

.btn:hover {
cursor: pointer;
}

.button-section {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin-top: 20px;
width: 100%;
padding: 0;
margin: 0;
}

.container {
display: flex;
margin-top: 20px;
justify-content: flex-start;
width: 100%;
}

button {
  border: 1px solid black;
}